.loader {
    border: 5px solid rgb(255, 0, 0, 0.2); /* Light grey */
    border-top: 5px solid rgb(255, 0, 0, 0.5); /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 50px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }